BOT_TOKEN=null
KTK_BASE_URL=https://workspace.ktk-45.ru
DATABASE_PATH=ktk-schedule.db
CREDENTIALS_SECRET=null
KTK_SIGN_IN_PATH=/sign-in
KTK_DEVICE_NAME=ktk-schedule
DEFAULT_GROUP_ID=269
NOTIFY_TIME=07:30
TIMEZONE=Asia/Yekaterinburg