.env
*.bak
*.bck.yml
*.exe
*.out
*.db
*.log
ktk-schedule
tmp/
backups/
/target/
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
.env.*
!.env.example
*.har
/data/
/dist/
